<div class="container">
  <div class="heading">
    <h1>TDF</h1>
  </div>

  <div class="form-container">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div class="form-group">
        <label for="firstname">firstname</label>
        <input ngModel id="firstname" type="text" name="firstname" required #firstname="ngModel">
        <small *ngIf="firstname.invalid && firstname.touched">firstname is <b>required</b></small>
      </div>
      <div class="form-group">
        <label for="lastname">lastname</label>
        <input ngModel id="lastname" type="text" name="lastname" required #lastname="ngModel">
        <small *ngIf="lastname.invalid && lastname.touched">lastname is <b>required</b></small>
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input ngModel id="email" type="text" name="email" required email #email="ngModel">
        <small *ngIf="email.invalid && email.touched">email is <b>required</b></small>
        <br>
        <small *ngIf="email.invalid && email.touched"> to verify an email make sure to use a <b style="color: brown;">@</b></small>
      </div>
      <button [disabled]="!myForm.valid" type="submit" class="btn"> send </button>
    </form>
  </div>

  <div [hidden]="myForm.invalid">
    <h4>{{firstname.value}}</h4>
    <h4>{{lastname.value}}</h4>
    <h4>{{email.value}}</h4>
  </div>

  <!-- shows the array after reseting form -->
  <div *ngFor="let person of persons" style="display: flex; justify-content: center; padding: 32px; border-bottom: 3px solid black;">
    <h4 style="font-size: 2.1rem; margin: 5px;"> {{person.firstname}} </h4>
    <h4 style="font-size: 2.1rem; margin: 5px;"> {{person.lastname}} </h4>
    <h4 style="font-size: 2.1rem; margin: 5px;"> {{person.email}} </h4>
  </div>
</div>